<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">
	 <select id="company" resultType="CompanyVO">
	 /*common.company*/
		SELECT 
			COMPANY_CODE
      		,COMPANY_NAME
      		,COMPANY_ORDER
			,COMPANY_CODE AS companyCode
      		,COMPANY_NAME AS companyName
      		,COMPANY_ORDER AS companyOrder
	  	FROM company
	  	ORDER BY COMPANY_ORDER ASC
    </select>
    
	 <select id="plant" resultType="PlantVO" parameterType="map">
	 /*common.plant*/
		SELECT 
			plantCode
			,plantName
			,companyCode
			,companyNo			
	  	FROM plant
	  	WHERE 1 =1
	  	<if test="companyCode != null and companyCode != '' ">
		AND companyCode = #{companyCode}
		</if>	
		<if test="plantCode != null and plantCode != '' ">
		AND plantCode = #{plantCode}
		</if>
	  	ORDER BY companyCode DESC , plantCode ASC
    </select>
    
    <select id="plantLine" resultType="kr.co.aspn.vo.PlantLineVO">
    	/*common.plantLine*/
		SELECT 
			companyCode
			,plantCode
			,lineCode
			,lineName
			,isDel			
	  	FROM plantLine
	  	WHERE 1 =1
	  	<if test="companyCode != null and companyCode != '' ">
		AND companyCode = #{companyCode}
		</if>	
		<if test="plantCode != null and plantCode != '' ">
		AND plantCode = #{plantCode}
		</if>
	  	ORDER BY lineName ASC
    </select>
    
    <select id="unit" resultType="UnitVO">
	 /*common.unit*/
		SELECT 
			UNIT_CODE AS unitCode
			, UNIT_NAME AS unitName
	  	FROM lab_unit
    </select>
    
    <select id="codeList" parameterType="CodeItemVO" resultType="CodeItemVO">
	/*common.codeList*/
	SELECT 
      	ITEM_CODE AS itemCode
      	,ITEM_NAME AS itemName
	FROM lab_code_item
	WHERE GROUP_CODE = #{groupCode}
	<if test="itemCode != null and itemCode != '' ">
		AND ITEM_CODE like concat(#{itemCode},'%')
	</if>
	AND IS_DELETE = 'N'
	ORDER BY ORDER_NO ASC
    </select>
    
    <select id="codeListAjax" parameterType="CodeItemVO" resultType="map">
	/*common.codeList*/
	SELECT 
      	ITEM_CODE AS itemCode
      	,ITEM_NAME AS itemName
	FROM lab_code_item
	WHERE GROUP_CODE = #{groupCode}
	AND IS_DELETE = 'N'
	ORDER BY ORDER_NO ASC
    </select>
    
    <select id="searchUserId" parameterType="map" resultType="UserVO">
	/*common.searchUserId*/
	SELECT 
		USER_ID AS userId
      ,USER_NAME AS userName
      ,USER_GRAD AS userGrade
      ,FN_GET_CODE_NAME('GRADE',USER_GRAD) AS userGradeName
      ,DATE_FORMAT(REG_DATE,'%Y-%m-%d') as regDate
      ,USER_CODE AS userCode
      ,EMAIL AS email
      ,DEPT_CODE AS deptCode
      ,FN_GET_CODE_NAME('DEPT',DEPT_CODE) AS deptCodeName
      ,TEAM_CODE AS teamCode
      ,FN_GET_CODE_NAME('TEAM',TEAM_CODE) AS teamCodeName	
      ,TITLE_CODE AS titleCode
      ,USER_TYPE AS userType
      ,IS_ADMIN AS isAdmin
      ,IS_DELETE AS isDelete
    FROM 
    	lab_user
	WHERE	1 = 1
	<if test="userId != null and userId != '' ">
		AND USER_ID = #{userId}
	</if>
	<if test="deptCode != null and deptCode != '' ">
		AND DEPT_CODE = #{deptCode}
	</if>
	<if test="teamCode != null and teamCode != '' ">
		AND TEAM_CODE = #{teamCode}
	</if>	
    </select>
    
    <select id="searchUserCount" parameterType="map" resultType="int">
	 	/*common.searchUserCount*/
		SELECT 
			count(USER_ID) 
		FROM 
			lab_user 
		WHERE 1 = 1	
		<if test="keyword != null and keyword != '' ">
			AND (USER_ID like concat('%',#{keyword},'%') OR USER_NAME like concat('%',#{keyword},'%'))
		</if>
    </select>
    
    <select id="searchUserList" parameterType="map" resultType="UserVO">
	 	/*common.searchUserList*/
		SELECT		t.*
			FROM	
					(
						SELECT	row_number() over (order by USER_ID desc) as rnum
						  ,USER_ID AS userId
					      ,USER_PWD AS userPwd
					      ,USER_NAME AS userName
					      ,USER_GRAD AS userGrade
					      ,FN_GET_CODE_NAME('GRADE',USER_GRAD) AS userGradeName
					      ,DATE_FORMAT(REG_DATE,'%Y-%m-%d') AS regDate
					      ,USER_CODE AS userCode
					      ,EMAIL AS email
					      ,DEPT_CODE AS deptCode
					      ,FN_GET_CODE_NAME('DEPT',DEPT_CODE) AS deptCodeName
					      ,TEAM_CODE AS teamCode
					      ,FN_GET_CODE_NAME('TEAM',TEAM_CODE) AS teamCodeName					      
					      ,TITLE_CODE AS titleCode
					      ,USER_TYPE AS userType
					      ,IS_ADMIN AS isAdmin	
					      ,IS_DELETE AS isDelete		
						FROM	lab_user	
						WHERE 1=1
						<if test="keyword != null and keyword != '' ">
							AND (USER_ID like concat('%',#{keyword},'%') OR USER_NAME like concat('%',#{keyword},'%'))
						</if>
					) t WHERE rnum between #{startRow} and #{endRow}
			ORDER BY userId desc
    </select>
    
    <select id="searchUserList2" parameterType="map" resultType="map">
	 	/*common.searchUserList2*/
		SELECT	USER_ID AS userId
	      ,USER_PWD AS userPwd
	      ,USER_NAME AS userName
	      ,USER_GRAD AS userGrade
	      ,FN_GET_CODE_NAME('GRADE',USER_GRAD) AS userGradeName
	      ,DATE_FORMAT(REG_DATE,'%Y-%m-%d') AS regDate
	      ,USER_CODE AS userCode
	      ,EMAIL AS email
	      ,DEPT_CODE AS deptCode
	      ,FN_GET_CODE_NAME('DEPT',DEPT_CODE) AS deptCodeName
	      ,TEAM_CODE AS teamCode
	      ,FN_GET_CODE_NAME('TEAM',TEAM_CODE) AS teamCodeName					      
	      ,TITLE_CODE AS titleCode
	      ,USER_TYPE AS userType
	      ,IS_ADMIN AS isAdmin	
	      ,IS_DELETE AS isDelete		
		FROM	lab_user	
		WHERE 1=1
		<if test="searchUser != null and searchUser != '' ">
			AND (USER_ID like concat('%',#{keyword},'%') OR USER_NAME like concat('%',#{keyword},'%'))
		</if>
			AND IS_DELETE = 'N'
		ORDER BY USER_ID desc
    </select>
    
    <select id="notificationCount" parameterType="map" resultType="int">
	   /*common.notiCount 알림건수  */
    	SELECT 
    		COUNT(nId) 
    	FROM notification 
    	WHERE 1 = 1 
    		AND targetUserId = #{userId}
    		AND isRead = 'N'
    		AND CONVERT(regDate, DATE) between CONVERT(DATE_ADD(sysdate(), INTERVAL -2 DAY),DATE) and CONVERT(sysdate(), DATE)
    </select>
    
    <select id="notificationList" parameterType="map" resultType="map">
	   /*common.notiList 알림리스트  */
    	SELECT 
    		 nId
      		,targetUserId
      		,message
      		,regUserId
      		,getUserName(regUserId) AS regUserName
      		,DATE_FORMAT(regDate,'%Y-%m-%d') as regDate
      		,isRead
      		,typeText
      		,type
    	FROM notification 
    	WHERE 1 = 1 
    		AND targetUserId = #{userId}
    		AND CONVERT(regDate, DATE) between CONVERT(DATE_ADD(sysdate(), INTERVAL -2 DAY),DATE) and CONVERT(sysdate(), DATE)
    	ORDER BY regDate DESC
    </select>
    <update id="updateNotification" parameterType="map">
	/*	common.updateNotification 알림정보 업데이트 */
	UPDATE  notification
	SET 
    	isRead	=  'Y'
	WHERE	1 = 1
		AND nId IN
        <foreach collection="nIds" item="nId" index="index"  open="(" close=")" separator=",">
            #{nId}
        </foreach>
    </update>
    
    <insert id="insertNotification" parameterType="map">
    /*	common.insertNotification 알림정보 등록 */
    INSERT INTO notification(
    	targetUserId
		,message
		,regUserId
		,regDate
		,isRead
		,typeText
		,type ) 
	VALUES(
		#{targetUserId}
		, #{message}
		, #{regUserId}
		, sysdate()
		, #{isRead}
		, #{typeText}
		, #{type}
	)
    </insert>
    
    <select id="userInfo" parameterType="map" resultType="UserVO">
	 	/*common.userInfo*/
		SELECT	USER_ID AS userId
	      ,USER_NAME AS userName
	      ,EMAIL AS email	      		
		FROM	lab_user	
		WHERE 1=1
			AND USER_ID IN
        <foreach collection="mailing" item="userId" index="index"  open="(" close=")" separator=",">
            #{userId}
        </foreach>
			AND IS_DELETE = 'N'
		ORDER BY USER_ID desc
    </select>
    
    <insert id="insertPrintLog" parameterType="map">
    /*	common.insertPrintLog 프린트/다운로드 로그 */
    INSERT INTO print_log(
    	apprNo
      	,tbType
      	,tbKey
      	,userId
      	,printDate
      	,type ) 
	VALUES(
		#{apprNo}
		, #{tbType}
		, #{tbKey}
		, #{userId}
		, sysdate()
		, #{type}
	)
    </insert>
    
    <select id="docCount" parameterType="map" resultType="map">
	 	/*common.docCount 사용자 문서 갯수*/
		SELECT 
			type, 
			sum(docCount) as docCount 
		FROM docCountView 
		WHERE 1 = 1
			<choose>
			<when test='grade != null and grade == "2" '>
			AND userId in (SELECT USER_ID FROM lab_user WHERE DEPT_CODE = #{deptCode} AND IS_DELETE = 'N')
			</when>
			<when test='deptCode != null and deptCode == "dept10" '>
			</when>
			<otherwise>
			AND userId = #{userId}
			</otherwise>
			</choose> 
		GROUP BY type
    </select>
    
    <select id="docStateCount" parameterType="map" resultType="map">
	 	/*common.docCount 사용자 문서 상태 갯수*/
	 	SELECT 
	 		type, 
	 		state, 
	 		sum(docCount) as docCount 
	 	FROM docStateView 
	 	WHERE 1 = 1
	 		<choose>
			<when test='grade != null and grade == "2" '>
			AND userId in (SELECT USER_ID FROM lab_user WHERE DEPT_CODE = #{deptCode} AND isDelete = 'N')
			</when>
			<when test='deptCode != null and deptCode == "dept10" '>
			</when>
			<otherwise>
			AND userId = #{userId}
			</otherwise>
			</choose> 
		GROUP BY type, state
    </select>
    
    <select id="getStorageList" resultType="kr.co.aspn.vo.StorageVO">
		SELECT companyCode
			, plantCode
			, storageCode
			, storageName 
		FROM storageLocation 
		WHERE 1=1
		<if test="companyCode != null and companyCode != '' ">
		AND companyCode = #{companyCode}
		</if>	
		<if test="plantCode != null and plantCode != '' ">
		AND plantCode = #{plantCode}
		</if>
	  	ORDER BY storageCode
	</select>
</mapper>