@charset "utf-8";

body{background-color:#ffffff; }
nav{box-shadow: 0 1px 3px RGBA(0, 0, 0, 0.3) ;  width:100%; top:0;  min-width:1300px; z-index:999; background-color:#ffffff; position:absolute}

aside{ height:100%; position:fixed; width:77px; background-color:#38394b; top:65px; z-index:990;}
.wrap{}

.wrap_in01{ width:100%;}
.wrap_in01 .wrap_in{display:table; table-layout:fixed; width:1050px;box-sizing:border-box;margin:0 auto; padding-top:128px;min-height:700px;}
.wrap_in01 .wrap_in .gap{width:15px}
.wrap_in01 .wrap_in .type01 {width:1050px; background-color:#FFF; box-sizing:border-box;  margin-bottom:20px; padding-top:35px;float:left; border:1px solid #dedede;box-shadow: 3px 3px 5px #e6e6e6; }
.wrap_in01 .wrap_in .type02 {}
.wrap_in01 .wrap_in .type02:nth-child(1){ width:310px; float:left;}
.wrap_in01 .wrap_in .type02:nth-child(2){ width:10px; float:left;}
.wrap_in01 .wrap_in .type02:nth-child(3){ width:745px; float: right;}
.wrap_in01 .wrap_in .gap{ border:none !important;}

.wrap_in01 .reduce { display:none;}
.wrap_in02 .extend { display:none;}

.wrap_in02{ width:100%;}

.wrap_in02 .wrap_in{display:table; table-layout:fixed; width:100%;box-sizing:border-box;margin:0 auto;}
.wrap_in02 .wrap_in .gap{width:15px; border:none !important;}
.wrap_in02 .wrap_in .type01 {width:100%; background-color:#FFF; box-sizing:border-box; float:left;}
.wrap_in02 .wrap_in .type02 {}
.wrap_in02 .wrap_in .type02:nth-child(1){ width:30%; display:table-cell; float:left;}
.wrap_in02 .wrap_in .type02:nth-child(2){ width:1%; display:table-cell;float:left;}
.wrap_in02 .wrap_in .type02:nth-child(3){ width:69%; display:table-cell;float:left;}



footer{height:80px;	font-family:'맑은고딕',Malgun Gothic; margin:auto 0; font-size:13px; color:#d4d4d4; width:100%; text-align:center; background-color:#454545; margin-top:20px;}
#main_footer{ padding-top:25px;}


.wrap.type03 :nth-child(1),
.wrap.type03 :nth-child(3){width:33%}
.wrap.type04 :nth-child(1){width:33%}

h2 .path{font-family:'맑은고딕',Malgun Gothic; font-size:13px; font-weight:normal; color:#999;top:15px; right:30px; position:relative; height:20px; float:right;}
h2 .path i{ color:#e4e4e4;}
h2 .path strong{ color:#6e95c5; font-weight:normal; border-bottom: 1px dotted #ccc;}
h2 .path img{ margin-top:-2px;}


.insert_obj{ width:100%; float:left; padding-bottom:20px; padding-top:20px; border-bottom: 1px solid #e6e6e6;}
.wrap_pop .top_btn_box{ z-index:21}